.body-background{
    background-image: url("https://i.pinimg.com/originals/67/4e/e1/674ee1bb32f964afe775db04ed151599.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
#end_game{
    float: left;
    margin-left: -15px;
    margin-top: 15px;
}
.header{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
    margin-bottom: -2.5px;
    margin-top: 10px;
    margin-right: 85.5px;
}
hr{
    border-color: black;
    width: 90%;
}
#p1, #p2{
    font-size: 35px;
    font-family: 'Mirza', cursive;
}
#p1{
    margin-top: -10px;
}
#p2{
    margin-top: -16.5px;
}
#result_name, #result_confidence{
    color: rgb(24, 148, 24);
    font-size: 24px;
    font-family: 'Spline Sans', sans-serif;
}
h4{
    margin-top: 25px;
    color: orangered;
    font-size: 18.5px;
    font-weight: 600;
}
#p_score, #p_time{
    font-size: 20px;
    font-weight: 600;
}
#p_score{
    float: left;
}
#p_time{
    float: right;
}
canvas{
    border: 5px solid grey;
    border-radius: 20px;
    margin-top: -7.5px;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animation {
    0%{box-shadow: 1px 2px 38px orange;}
    50%{box-shadow: 1px 2px 38px red;}
    100%{box-shadow: 1px 2px 38px orange;}
}